[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "vec2dtransf"]
	path = vec2dtransf
	url = https://github.com/gacarrillor/vec2dtransf
